- name: Integrate SukiSU-Ultra & SUSFS
        run: |
          cd kernel-source
          # 1. Setup SukiSU-Ultra
          curl -LSs "https://raw.githubusercontent.com/SukiSU-Ultra/SukiSU-Ultra/main/kernel/setup.sh" | bash -s main
          
          # 2. Pull SUSFS
          git clone https://gitlab.com/simonpunk/susfs4ksu.git -b kernel-4.19 ../susfs
          
          # 3. Patching
          cp ../susfs/kernel_patches/fs/susfs.c fs/
          cp ../susfs/kernel_patches/include/linux/susfs.h include/linux/
          patch -p1 --fuzz=3 < ../susfs/kernel_patches/50_add_susfs_in_kernel-4.19.patch || true
          
          cd drivers/kernelsu
          patch -p1 --fuzz=3 < ../../../susfs/kernel_patches/KernelSU/10_enable_susfs_for_ksu.patch || true
          
          # FIX: Kill Module Namespace (Legacy 4.19 doesn't support it)
          sed -i 's/MODULE_IMPORT_NS/\/\/MODULE_IMPORT_NS/g' ksu.c
          cd ../..

          # 4. FIX: Inject missing Samsung header
          sed -i '1i #include <linux/pinctrl/consumer.h>' drivers/input/sar_mode_detect/sar_mode_detect.c
          
          # 5. FIX: Targeted Cleanup (No more global wildcards that break syntax)
          # We only remove the specific flags that Clang 12 hates
          sed -i 's/-Werror=implicit-function-declaration//g' Makefile
          sed -i 's/-Werror=return-type//g' Makefile
          sed -i 's/-Wimplicit-function-declaration//g' Makefile
          # Disable -Werror globally in a way that doesn't break function calls
          sed -i 's/ -Werror / /g' Makefile
          sed -i 's/ -Werror$/ /g' Makefile
